html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #000;
  font-family: "SF Pro Display", sans-serif;
}

.wrapper {
  width: 1194px;
  margin: 0 auto;
}

.header_content {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_content .section .section_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_content .section .section_list .section_item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #959595;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
}
.header_content .section .section_list .section_item:hover {
  font-weight: 700;
  color: #fff;
  background: #2C2C2E;
}
.header_content .section .section_list .plus img {
  width: 30px;
  height: 30px;
}
.header_content .dropdown {
  position: relative;
  display: inline-block;
}
.header_content .dropdown .dropbtn {
  width: 354px;
  height: 41px;
  background: #2C2C2E;
  border-radius: 8px;
  border: 0px;
}
.header_content .dropdown .dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background: #2C2C2E;
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 0px 0px 8px 8px;
  padding: 15px;
}
.header_content .dropdown .dropdown-content .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 8px;
  border: 0px;
  width: 323px;
  height: 36px;
  color: #FFFFFF;
  background: rgba(118, 118, 128, 0.24);
  border-radius: 10px;
}
.header_content .dropdown .dropdown-content .search input {
  background: rgba(118, 118, 128, 0);
  border: 0px;
  width: 100%;
  color: #FFFFFF;
}
.header_content .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.header_content .dropdown .dropdown-content a:hover {
  background-color: #ddd;
}
.header_content .dropdown .dropbtn:hover, .header_content .dropdown .dropbtn:active {
  border-radius: 8px 8px 0px 0px;
}
.header_content .dropdown .dropdown-content a:hover {
  background-color: #ddd;
}
.header_content .dropdown:hover .dropdown-content {
  display: block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin-bottom: 12px;
  margin-top: 20px;
}
.header img {
  margin-left: 8.5px;
  height: 8.5px;
  margin-top: 27.5px;
  margin-right: 22.5px;
}
.header .head_text p {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #959595;
}
.header .head_text h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #F3F3F8;
}
.header .dots {
  margin-top: 27.5px;
  margin-left: 23px;
  height: 10px;
  border: 1.5px dashed #959595;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.shop .shop_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop .shop_card .card_item {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
  width: 157px;
  height: 198px;
  background: #1C1C1E;
  border-radius: 8px;
  color: #FFFFFF;
}
.shop .shop_card .card_item h3 {
  margin: 10px 0px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}
.shop .shop_card .card_item p {
  width: 100%;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
}
.shop .shop_card .card_item_none {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
  width: 157px;
  height: 198px;
  border: 2px solid #1C1C1E;
  border-radius: 8px;
  color: #FFFFFF;
}

.whiskey .header img {
  margin-top: 23px;
  margin-right: 27px;
  margin-left: 12px;
  height: 17px;
}

footer {
  background: rgba(22, 22, 22, 0.94);
  -webkit-box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin-top: 52px;
}
footer .wrapper .tab_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 59px;
}
footer .wrapper .tab_list .list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #959595;
}
footer .wrapper .tab_list .list_item img {
  margin-right: 12px;
}
footer .wrapper .tab_list .list_item:nth-child(3) img {
  margin-right: 0px;
}
footer .wrapper .tab_list .active {
  color: #AC8E68;
}