html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: #000;
  font-family: "SF Pro Display", sans-serif;
}
.wrapper {
  width: 1194px;
  margin: 0 auto;
}
.header_content {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .section {
    .section_list {
      display: flex;
      flex-direction: row;
      align-items: center;
      .section_item {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #959595;
        border-radius: 10px;
        padding: 10px;
        margin-right: 10px;
      }
      .section_item:hover {
        font-weight: 700;
        color: #fff;
        background: #2c2c2e;
      }
      .active {
        font-weight: 700;
        color: #fff;
        background: #2c2c2e;
      }
      .plus {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .dropdown {
    position: relative;
    display: inline-block;
    .dropbtn {
      width: 354px;
      height: 41px;
      background: #2c2c2e;
      border-radius: 8px;
      border: 0px;
      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      width: 100%;
      background: #2c2c2e;
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
      z-index: 1;
      border-radius: 0px 0px 8px 8px;

      .search {
        margin: 15px;
        display: flex;
        align-items: center;
        padding: 7px 8px;
        border: 0px;
        width: 323px;
        height: 36px;
        color: #ffffff;
        background: rgba(118, 118, 128, 0.24);
        border-radius: 10px;
        input {
          background: rgba(118, 118, 128, 0);
          border: 0px;
          width: 100%;
          color: #ffffff;
        }
      }
      .list {
        margin: 15px;
        display: flex;
        padding: 2px;
        align-items: center;
        justify-content: space-around;
        background: rgba(118, 118, 128, 0.24);
        border-radius: 8.91px;
        width: 323px;
        height: 32px;
        margin-top: 12px;
        margin-bottom: 22px;
        li {
          border-radius: 6.93px;
          font-weight: 600;
          font-size: 13px;
          line-height: 20px;
          color: #ffffff;
          width: 100%;
          height: 28px;
          text-align: center;
          padding-top: 3px;
        }
        li:hover {
          background: #636366;
        }
        .active {
          background: #636366;
        }
      }
      .dropdowns {
        margin: 15px;
        position: relative;
        display: inline-block;
        .dropbtns {
          width: 323px;
          height: 41px;
          background: #1c1c1e;
          border-radius: 8px;
          border: 0px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px 12px;
          border-radius: 5px;
          .text {
            display: flex;
            flex-direction: column-reverse;
            text-align: left;
            h4 {
              color: #fff;
            }
            p {
              color: #636366;
            }
          }
        }
      }
      .shelf {
        margin-top: 20px;
        .shelf_item {
          display: flex;
          margin: 15px 0px;
          padding: 0px 24px;
          width: 354px;
          height: 118px;
          border-bottom: 1px solid #000;
          align-items: center;
          justify-content: space-between;
          .name {
            color: #fff;
            width: 100%;
            margin-left: 20px;
            h4 {
              font-weight: 300;
              font-size: 14px;
              line-height: 17px;
              width: 109px;
            }
            p {
              font-weight: 700;
              font-size: 10px;
              line-height: 12px;
            }
          }
          .volume {
            li {
              margin-bottom: 5px;
              margin-right: 10px;
              color: #636366;
              font-weight: 700;
              font-size: 10px;
              line-height: 12px;
              padding: 7px 13px;
              border: 1px solid #636366;
              border-radius: 5px;
              text-align: center;
            }
            li:last-child {
              margin-bottom: 0;
            }
            .active {
              background: #636366;
              color: #fff;
            }
          }
        }
        .shelf_item:last-child {
          border-bottom: 0px;
        }
      }
    }
    .dropbtn:hover,
    .dropbtn:active {
      border-radius: 8px 8px 0px 0px;
    }
    .dropdown-content a:hover {
      background-color: #ddd;
    }
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
.header {
  display: flex;
  color: #fff;
  margin-bottom: 12px;
  margin-top: 20px;
  img {
    margin-left: 8.5px;
    height: 8.5px;
    margin-top: 27.5px;
    margin-right: 22.5px;
  }
  .head_text {
    p {
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #959595;
    }
    h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      color: #f3f3f8;
    }
  }
  .dots {
    margin-top: 27.5px;
    margin-left: 23px;
    height: 10px;
    border: 1.5px dashed #959595;
    transform: rotate(90deg);
  }
}
.shop {
  .shop_card {
    display: flex;
    .card_item {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 16px;
      width: 157px;
      height: 198px;
      background: #1c1c1e;
      border-radius: 8px;
      color: #ffffff;
      h3 {
        margin: 10px 0px;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
      }
      p {
        width: 100%;
        font-weight: 700;
        font-size: 8px;
        line-height: 10px;
      }
    }
    .card_item:nth-child(2) {
        padding: 10px;
        div{
            width: 100%;
            display: flex;
            justify-content: space-between;
            img {
                margin: 10px;
                margin-left: 50px;
            }
            p {
                width: 28px;
                height: 28px;
                text-align: center;
                padding-top: 3px;
                background-color: #000;
                border-radius: 50%;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #959595;  
                margin: 0px;
            }
        }
        h3 {
            margin: 0px 10px 10px 10px;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
          }
          p {
            margin-left: 20px;
            margin-bottom: 20px;
            width: 100%;
            font-weight: 700;
            font-size: 8px;
            line-height: 10px;
          }
    }
    .card_item_none {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 16px;
      width: 157px;
      height: 198px;
      border: 2px solid #1c1c1e;
      border-radius: 8px;
      color: #ffffff;
    }
  }
}
.whiskey {
  .header {
    img {
      margin-top: 23px;
      margin-right: 27px;
      margin-left: 12px;
      height: 17px;
    }
  }
}
footer {
  background: rgba(22, 22, 22, 0.94);
  box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  margin-top: 52px;
  .wrapper {
    .tab_list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 59px;
      .list_item {
        display: flex;
        align-items: center;
        color: #959595;
        img {
          margin-right: 12px;
        }
      }
      .list_item:nth-child(3) {
        img {
          margin-right: 0px;
        }
      }
      .active {
        color: #ac8e68;
      }
    }
  }
}
